* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", Helvetica, sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.FContainer {
    width: 1200px;
    margin: 0 auto;
    
}

@media screen and (max-width: 1200px) {
   .FContainer {
      width: 90%;
   }
}
.nav {
    display: flex;
    padding: 0 7%;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    height: 50px;
}

a {
    text-decoration: none;
}

.logo,
.protest-guerrilla-regular {
   font-family: "Protest Guerrilla", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
.logo a {
    color: darkolivegreen;
    font-size: 47px;
}

nav ul  {
    list-style: none;
    display: flex;
    gap: 20px;
    
}
nav li a {
    color: darkolivegreen;
}
nav li :hover {
    color: cornsilk;
}

/* Burger Menu */
.menu-toggle {
   display: none;
   flex-direction: column;
   height: 20px;
   justify-content: space-between;
   position: relative;
}

.menu-toggle input {
   position: absolute;
   width: 38px;
   height: 27px;
   left: -5px;
   top: -3px;
   opacity: 0;
   cursor: pointer;
   z-index: 2;
}

.menu-toggle span {
   display: block;
   width: 28px;
   height: 3px;
   background-color: darkolivegreen;
   border-radius: 3px;
   transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
   transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
   transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
   transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
   transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
   transform: scale(0)
}
@media screen and (max-width: 1000px) {
   p {
      font-size: 14px;
      line-height: 20px;
   }
   
   .skill-right ul li {
      font-size: 15px;
   }
   }
   
   @media screen and (max-width: 768px) {
      
      .menu-toggle {
         display: flex;
         z-index: 4;
      }
     
      nav {
         position: fixed;
         width: 50%;
         top: 0;
         right: 0;
         height: 100vh;
         flex-direction: column;
         background-color: #ddd;
         transform: translateX(100%);

         z-index: 3;
      }

      nav ul {
         height: 100vh;
         align-items: center;
         flex-direction: column;
         justify-content: space-evenly;
      }

      .nav-active {
         transform: translateX(0);
      }

   
   }
   
   @media screen and (max-width: 586px) {
      
      #hero {
         grid-template-columns: 1fr;
         height: fit-content;
      }

      .colom-2 {
         width: 100%;
      }
   }

#hero {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    grid-template-columns: 1fr 1fr;
    
}

 .hero-left h3 {
    font-family: verdana;
    font-weight: 600;
    letter-spacing: 5px;
 }

 .hero-left h2 {
    padding-top: 10px;
 }

 .hero-left span {
    color: rgb(20, 48, 90);
    font-weight: 700;
    font-size: 27px;
 }

 .hero-right img {
    width: 80%;
 }

 .hero-right {
    display: flex;
    justify-content: center;
    
 }

 #Service {
    background-color: rgb(241, 241, 241);
    padding: 96px 0;
 }
 .title {
    font-family: verdana;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 40px 0;
    text-align: center;
 }
 .colom-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0 30px;
 }

 .colom-2 {
    display: flex;
    justify-content: center;
    gap: 50px;
 }

 .service  {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
 }

 .service h4 {
    padding: 20px;
 }

 #Portofolio {
    padding: 96px 0;
 }

 .portofolio {
    border-radius: 10px;
    overflow: hidden;
 }

 .portofolio-cover {
    height: 250px;
 }

 .portofolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .portofolio-tags {
   padding: 20px 20px;
   font-size: 17px;
   border: 1px solid #f1f1f1;

 }

 .portofolio-tags h4 {
   padding: 10px 0;
   align-items: center;
 }

 #Skill {
   padding: 96px 0;
   background-color: #fbfbfb;
 }

 .skill-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 35px;
   padding: 30px 0;
 }
 .education {
   display: flex;
   gap: 25px;
 }
 
 .education .line {
   padding: 10px;
 }

 .education .line div {
   width: 2px;
 }

 .education-info {
   padding: 10px 0;
 }

 .education-title {
   padding: 8px 0;
 }

 .skill-right {
   padding: 0 30px
 }

 .skill-list {
   padding: 15px 20px;
 }

#Contact {
   padding: 96px 0;
}

.main-contact {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 35px;
}

.contact-form div {
   margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
   width: 100%;
   padding: 10px 8px;
   font-family: "Arial", Helvetica, sans-serif;
   background-color: #fbfbfb;
   border: 1px solid #f1f1f1;
   border-radius: 3px;
   resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus{
   outline: none;
   border: 1px solid lightgray;
}

.btn-submit {
   width: 100%;
   padding: 10px 18px;
   background-color: #83b4d4;
   color: #fbfbfb;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}

.btn-submit :hover {
   background: #31a1bd;
}

.contact-item {
  display: flex;
  padding-bottom: 15px;
  gap: 10px;

}

.contact-item-icon {
   background-color: #83b4d4;
   width: 43px;
   height: 43px;
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact-item-icon svg {
   fill: #0e5e72;
}
.contact-info h4{
   margin-bottom: 10px;
}

.footer {
   padding: 15px;
   background-color: #dddddd;
}

.footer h3 {
   text-align: center;
   font-weight: 400;
}